.navigation {
  width: var(--nav-width);
  font-size: 18px;
  padding: 30px;
  text-align: right;
  flex: none;
}

.navigation a {
  text-decoration:none;
  color:inherit;
}

ul.unset-list {
  margin: 0;
}

.unset-list li {
  list-style: none;
}

.nav-item {
  margin: 12px 0;
}

.tag-list {
  font-size: 14px;
  color: #949494;
  font-weight: 300;
  margin: 14px -14px;
}

.tag-item {
  margin: 6px 0;
}
