html, body {
  height: 100%;
  /* copy from fluent design */
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

#__next {
  display: flex;
  width: 100%;
  height: 100%;
}

html * {
  box-sizing: border-box
}

:root {
  --nav-width: 280px;
  --content-width: 800px;
}
